<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*@System.Web.Optimization.Scripts.Render("~/bundles/scripts")*@    
    <script src="@Url.Content("~/Scripts/jquery-2.0.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/init.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel='stylesheet' />
</head>
<body>
    <div>
        @RenderBody()
        <div id="tgrid-navi">
        <div id="tgrid-bar">
            <div class="inner">
                <a id="tgrid-log" href="#" >
                    <img src="@Url.Content("~/Content/images/tgridSNS.png")" />
                </a>
                <a id="tgrid-logo" href="http://www.tesseris.com/" >
                    <img src="@Url.Content("~/Content/images/tesseris.png")" />
                </a>
            </div>
        </div>

<div id="wrapper">
    
    <header>
        <div class="centered-content header-main">
            <div class="sfContentBlock">
                @*<a title="Link to home page" href="#" id="logo">
                    <img src="@Url.Content("~/Content/images/Gears-main.png")" />
                </a>*@
                <nav class="tgrid-nav">
                    <div class="nav-submenu">
                        <a href="#">   
                            Products
                            <span>▼</span>
                        </a>
                        <nav style="display: none;">
                            <a href="#">Name</a>
                        </nav>
                        <a href="#">Demos</a>
                        <a href="#">Purchase</a>
                        @*<a href="#" class="button">Download</a>*@
                    </div>
                </nav>
               @* <nav class="main-nav">
                    <a href="#">Bloogs</a>
                    <a href="#">Documentation</a>
                    <div class="nav-submenu">
                        <a href="#">Support
                            <span>▼</span>
                        </a>
                        <nav style="display: none;">
                            <a href="#">Premium Forums</a>
                        </nav>
                    </div>
                    <div class="nav-submenu">
                        <a href="#">Resources
                            <span>▼</span>
                        </a>
                        <nav class="menu-resources" style="display: none;">
                            <a href="#">Featured Resource</a>
                        </nav>
                    </div>
                    <a href="#">Contact Us</a>
                    <a class="search-panel" href="#">Search</a>
                </nav>*@
            </div>
        </div>
        @*<div id="top"></div>*@
        <div class="header-content">
            <div class="centered-content">
                <div class="sfContentBlock">
                    <img class="ml50" src="@Url.Content("~/Content/images/kendo-web-header.png")" />
                    <div class="text">
                        <h1 class="mb20">Everything you need to build super-fast HTML5 web apps</h1>
                        <p class="copy">                            
The days of slow, server-heavy web UI are done! Kendo UI has everything you need to build fast, HTML5 web apps in one compact easy-to-use package: UI widgets, data source, validation, an MVVM framework, themes, templates and so much more.
                        </p>
                        @Html.ActionLink("Launch Demos", "Grid", null, new {@class = "button"})
                        @*<a class="button" href="#">Launch Demos</a>*@
                        <a class="button dimmed" href="#">Download</a>
                        <a class="button" href="#">Purchase</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @*<div id="bottom"></div>*@
   @*   <div class="sfContentBlock">
      <nav class="third-level-navi">
            <div class="inner">
                <a href="#" class="active">Overview</a>
                <a href="#">Widgets</a>
                <a href="#">What's New</a>
                <a href="#">Roadmap</a>
            </div>
        </nav>
    </div>*@
    <div id="left"></div> 
    <div id="right"></div> 
    <div id="content" class="content">        
        <div class="sf_cols page-web">
            <div class="sf_colsOut sf_1col_1_100">
                <div id="GeneralBox_Content_C012_Col00" class="sf_colsIn sf_1col_1in_100">
                    <div class="sfContentBlock">
                        <h4 class="tac"> Start now your 
                            <a href="#"> Free Trial </a> with support included!
                        </h4>
                    </div>
                    <div class="sfContentBlock shade pt30">
                        <div class="fl mt-20 mr30" id="img-1">
                            <img class="db" src="@Url.Content("~/Content/images/web-1.jpg")" />
                        </div>
                        <div class="c18 fr">
                            <h2>Ready for touch</h2>
                            <p>
                                Out-of-the-box, Kendo UI Web is ready for touch. All Kendo UI Web widgets provide full support for
                                touchscreen devices, such as the iPad, iPhone, and
                                Android, so that your web apps can be used on a wide array of devices with varying input options. Even Kendo UI’s drag and drop framework is touch-enabled,
                                eliminating the need for you to duplicate code just to handle mouse and touchscreen inputs.
                            </p>
                            <p>
                                For even more native-like UI widgets and experiences on mobile devices, check-out
                                <a href="#">Kendo UI Mobile</a>.
                            </p>
                        </div>
                    </div>
                    <div class="sfContentBlock shade scheme1 pb120 pt20">
                        <div id="img-2" class="fr ml30">
                            <img src="@Url.Content("~/Content/images/web-2.gif")" />
                        </div>
                        <h2>Really fast JavaScript</h2>
                        <p>
                            Every aspect of Kendo UI has been built from the ground-up to deliver maximum JavaScript app performance. Kendo UI is not another jQuery UI clone, and every decision made in Kendo UI optimizes for performance first. From a lightweight, built-in templating library that performs significantly faster than jQuery Templates, to optimized animations that leverage CSS3 hardware acceleration (when available), and advanced UI virtualization, Kendo UI leaves no stone unturned to deliver client-side UI with top performance.
                        </p>
                    </div>
                </div>
                <div id="list">
                    <ul>
                        <li>
                           <a id="SimpleGridWithoutPaging" onclick="Navigate($(this))">Simple grid without paging</a>
                        </li>
                        <li>
                            <a id="SimpleGridWithoutPagingMobile" onclick="Navigate($(this))">Simple grid without paging mobile</a>
                        </li>
                        <li>
                            <a id="CellTemplate" onclick="Navigate($(this))">Cell template</a>
                        </li>
                        <li>
                            <a id="CellTemplateMobile" onclick="Navigate($(this))">Cell template mobile</a>
                        </li>
                        <li>
                            <a id="HeaderTemplate" onclick="Navigate($(this))">Header template</a>
                        </li>
                        <li>
                            <a id="HeaderTemplateMobile" onclick="Navigate($(this))">Header template mobile</a>
                        </li>
                        <li>
                            <a id="DetailsTemplate" onclick="Navigate($(this))">Details template</a>
                        </li>
                        <li>
                            <a id="DetailsTemplateMobile" onclick="Navigate($(this))">Details template mobile</a>
                        </li>
                        <li>
                            <a id="CustomActionsToOpenDetails" onclick="Navigate($(this))">Custom actions to open details</a>
                        </li>
                        <li>
                            <a id="Paging" onclick="Navigate($(this))">Paging</a>
                        </li>
                        <li>
                            <a id="PagingMobile" onclick="Navigate($(this))">Paging mobile</a>
                        </li>
                        <li>
                            <a id="LazyLoading" onclick="Navigate($(this))">Virtualization/lazy loading</a>
                        </li>
                        <li>
                            <a id="lazyLoadingMobile" onclick="Navigate($(this))">Virtualization/lazy loading mobile</a>
                        </li>
                        <li>
                            <a id="CustomItemsProvider" onclick="Navigate($(this))">Custom items provider</a>
                        </li>
                        <li>
                            <a id="Grouping" onclick="Navigate($(this))">Grouping</a>
                        </li>
                        <li>
                            <a id="GroupingMobile" onclick="Navigate($(this))">Grouping mobile</a>
                        </li>
                        <li>
                            <a id="GroupingWithVirtualization" onclick="Navigate($(this))">Grouping with virtualization</a>
                        </li>
                        <li>
                            <a id="EditingWithCellTemplate" onclick="Navigate($(this))">Editing with cell template</a>
                        </li>
                        <li>
                            <a id="RowsWithVirtualization" onclick="Navigate($(this))">Performance - 100000 rows with virtualization</a>
                        </li>
                        <li>
                            <a id="RowsWithPaging" onclick="Navigate($(this))">Performance - 100000 rows with paging</a>
                        </li>
                    </ul>                    
                </div>
                <iframe name="main-frame" id="main-frame"></iframe>
            </div>
        </div>
        @*<div class="box box-faq">
            <h3>
                <a href="#">
                    Read FAQ
                </a> or see Kendo UI in action!
            </h3>
            <a class="button">Launch Demos</a>
        </div>*@
    </div>
    <div class="sfContentBlock">

    </div>
                                    <footer>
            <div class="centered-content">
               (c)   2013 - Tesseris Pro LLC
            </div>
        </footer>
</div>

</div>

    </div>
</body>
</html>
