@{
    ViewBag.Title = "TGrid by Tesseris Pro - Docs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="@Url.Content("~/Scripts/Highlighter/shCore.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Highlighter/shBrushXml.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Highlighter/shBrushCss.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Highlighter/shBrushJScript.js")"></script>

<link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/HighlighterStyles/shCoreEclipse.css")" />
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/HighlighterStyles/shThemeEclipse.css")" />
<script type="text/javascript">
    $(function () {
        $('.collapse').collapse();
        $(".panel-heading").click(function () {
            if ($(this).parent().children().last().css('display') == 'none') {
                $(this).parent().children().last().css('display', 'block');
            } else {                
               
                $(this).parent().children().last().css('display', 'none');
            }
            $(".collapse").collapse('toggle');
            
        });       
        
    });
</script>
<body>
    <div>
		<div id="listDocs">
            <div class="panel-group" id="accordion" data-bind="foreach: sections">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title "> 
                            <a data-bind="navigate: path,  attr: { href: $data.hrefText }, text: $data.name"></a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" data-bind="visible: $root.currentSectionPath() == $data.path, attr: { id: $data.path }">
                        <div class="panel-body" data-bind="foreach: nodes">
                                <a data-bind="navigate: $parent.path + '/' + $data.routeName, text: name, activeClass: 'active'" @*style="display:block;*@"></a>
                        </div>
                    </div>
                </div>
            </div>  
		</div>
		<div id="help-content-holder" class="documentation-content">		

		</div>
    </div>


</body>

<script src="@Url.Content("~/Scripts/navrouter-1.0.1.js")" type="text/javascript"></script>
<script src="@Url.Content("~/ViewModels/DocsViewModel.js")" type="text/javascript"></script>
<script type="text/javascript">
	var rootUrl = "@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)@Url.Content("~")";
	var router = new routing.Router("help-content-holder", { enableLogging: true });
	routing.knockout.setCurrentRouter(router);
	ko.applyBindings(new DocsViewModel());
	router.run();
</script>


