@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
            <div class="header-content">
            <div class="centered-content">
                <div class="sfContentBlock">
                    <img class="ml50" src="@Url.Content("~/Content/gridonmainpage.png")" />
                    <div class="text">
                        <h1 class="mb20">Fast and fully functional grid for HTML5</h1>
                        <p class="general-description">                            
Javascript, Angular and Knockout compatile, super-functional and fully customizable grid. Our grid can work on any device and any screeen resolution. It dynamically adjust content for sdcreen and even change the layout. Our grid supports any (really any) number of rows that can be loaded dynamically when user scroll or select page.
                        </p>
                        @Html.ActionLink("Demo", "Demo", null, new {@class = "button"})
                        @Html.ActionLink("Download Demo", "Download", null, new {@class = "button dimmed"})
                    </div>
                </div>
            </div>
        </div>
    }

@*<h2>Index</h2>*@
                <div id="GeneralBox_Content_C012_Col00" class="sf_colsIn sf_1col_1in_100">
                    <div class="sfContentBlock">
                        <h2 class="tac">TGrid Features Higlight</h2>
                    </div>
                    <div class="sfContentBlock shade pt30">
                        <div class="fl mt-20 mr30">
                            <img class="db" src="@Url.Content("~/Content/phonewithgrid.png")" />
                        </div>
                        <div class="c18 fr">
                            <h2>Ready for mobile touch devices</h2>
                            <p>
                                Out-of-the-box, TGrid is ready for touch. TGrid supports all touch events and works perfectly on iPhone, Android, Windows Phone. TGrid automatically changed layout from clasical table to detailed list when screen size is changed. All features including virtual scrollig and grouping are working on both layout. Even more scroll position is preserved after layout change.
                            </p>
                            <p>
                                Try <a href="~/Home/Demo?demo=Knockout/FilteringGroupingSorting">this link</a> on mobile device.
                            </p>
                        </div>
                    </div>
                    <div class="sfContentBlock shade scheme1 pb120 pt20">
                        <div class="fr ml30">
                            <img src="@Url.Content("~/Content/monitorwithgrid.png")" />
                        </div>
                        <h2>Fast and Smart</h2>
                        <p>
                            We started implementation of TGrid when discovered problem with mobile grid compatible with modern frameworks like Angular and Knockout.js. TGrid is fully compatible with Angular, Knockout.JS, TypeScript and JQuery and have weak dependency on this techologies. This means taht you can use TGrid with any this techology or without any. You even can implement you own adapter for your own technology.
                        </p>
                    </div>
                </div>

